hr 
{
    clear: both;
    height: 0;
    border-bottom: 1px solid #c8ccd1;
    margin: 0.26rem 1rem;
}

a
{
    text-decoration: none;
    color: blue;
    display: flex;
}
body
{
    margin: 0;
    padding: 0;
}

header .title
{
    font-size: 30px;
    font-family : 'Open Sans';
    text-align: center;
}

header .subtitle
{
    font-size: 20px;
    font-family : 'Open Sans';
    text-align: center;
}

header .main-logo
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

header .main-logo img 
{
    height: 240px;
    width: 300px;
}

header .main-logo button
{
    display: flex;
    border: none;
    width: 140px;
    height: 50px;
    margin-bottom: 15px;
}

header .main-logo a
{
    color: blue;
    text-decoration: none;
}

header .main-logo button span
{
    color: black;
}

header .browse-main
{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

header .browse
{
    margin-top: 100px;
    width: 400px;
    border: 1px solid #a2a9b1;
    display: flex;
    justify-content: center;
}

header .browse-main input
{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    font-size: 20px;
}
header .browse:hover
{
    border-color: #72777d;
    box-shadow: 3px darkgray;
}

.b1
{
    margin-left: 80px;
}
/*MAIN*/
main
{
    width: 100%;
    height: 500px;
}
main .section-main_one
{
    width: 280px;
    height: 80px;
    text-align: left;
}
main .section-main_one .div-section-two button
{
    border-radius: 5px;
    margin-left: 30px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: green;
}
main .section-main_one .div-section-two button:hover
{
    border: 1px solid;
    box-shadow: black;
}
main .section-main_one .div-section-two .icon-subone
{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    width: 25px;
    height: 25px;
}
main .section-main_one .div-section-two .icon-subtwo
{
    display: flex;
    justify-content: flex-start;
    width: 30px;
    height: 32px;
}
main .section-main_one p
{
    display: flex;
    justify-content: right;
}
main .icon-one
{
    width: 60px;
    height: 60px;
}
main .icon-two
{
    width: 60px;
    height: 60px;
}

/*FOOTER*/
p
{
    text-align: center;
}
footer a
{
    font-size: 17px;
}
footer small
{
    font-size: 17px;
}

footer .first_link-footer::after
{
    content: '\2022';
    margin-left: 5px;
    margin-right: 5px;
}

footer .second_link-footer::after
{
    content: '\2022';
    margin-left: 5px;
    margin-right: 5px;
}